---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <!--<h1 class="post-list-heading">Introduction</h1>-->

<style type="text/css">
.image-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

 <div class="row">
  <div class="column">
    <p><img src="/assets/alexander.png" alt="Hi!" width="250px"/></p>
  </div>
  <div class="column">

  I am Alexander Vakhitov, a computer vision researcher. Currently I work on learning and vision for robotics at <a href="https://www.slamcore.com/">SLAMCore</a>.

  <p>
  Previously I worked on photorealistic human telepresence and visual geometry, and I did my PhD on control and optimization. Find here my <a href="/cv/">CV</a>, <a href="/pubs/">papers</a> and <a href="/projects/">projects</a>.
    <center>
    <a href=https://scholar.google.ru/citations?user=g_2iut0AAAAJ&hl=ru"> <img src="/assets/scholar.jpeg" alt="Scholar" height="40"> </a>
    <a href="https://github.com/alexandervakhitov"><img src="/assets/github.png" alt="GitHub" height="40"></a> <br>
    <a href="https://www.researchgate.net/profile/Alexander_Vakhitov"><img src="/assets/ResearchGate_Logo.png" alt="ResearchGate" height=40></a>
    </center>

  <!--Find here my research on computer vision, robotics, control and optimization.-->


  </div>
</div>




  {{ content }}


  <!--{%- if site.posts.size > 0 -%}-->
    <!--<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>-->
    <!--<ul class="post-list">-->
      <!--{%- for post in site.posts -%}-->
      <!--<li>-->
        <!--{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}-->
        <!--<span class="post-meta">{{ post.date | date: date_format }}</span>-->
        <!--<h3>-->
          <!--<a class="post-link" href="{{ post.url | relative_url }}">-->
            <!--{{ post.title | escape }}-->
          <!--</a>-->
        <!--</h3>-->
        <!--{%- if site.show_excerpts -%}-->
          <!--{{ post.excerpt }}-->
        <!--{%- endif -%}-->
      <!--</li>-->
      <!--{%- endfor -%}-->
    <!--</ul>-->

    <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->
  <!--{%- endif -%}-->

</div>
